

h2 {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

form > input {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
}

form > textarea {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
}
form > button {
    display: flex;
    justify-content: center;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
}

form > p {
    display: flex;
    justify-content: center;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
}